<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-springMVC-mybatis:war exploded">
    <output-path>$PROJECT_DIR$/../spring-springMVC-mybatis/out/artifacts/spring_springMVC_mybatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-springMVC-mybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-springMVC-mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.alibaba:fastjson:1.2.76" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.11.4" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:javax.servlet.jsp-api:2.3.1" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.27" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.6" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.6" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.7" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.12" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.3.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.5.RELEASE" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>